node_modules/**/*
.shadow-cljs/**/*
.cpcache/**/*
.expo/*
npm-debug.*
/target
/target-test
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
!functional-tests/gradle/wrapper/gradle-wrapper.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
figwheel_server.log
main.js
.js-modules.edn
/env/dev/env/expo/dev.cljs
/env/dev/env/expo/index.cljs
/.lan-ip
.DS_Store
/beta_testers.md
/functional-tests/build
/functional-tests/.gradle
/functional-tests/out
/functional-tests/debug.log
/app
main.js.map
yarn.lock
